@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Desafio Técnico com o intuito de demonstrar conhecimentos e aptidão para participar da 4° Edição do Bootcamp 
    Ibid.
</p>
